<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
    <link rel="stylesheet" href="style_signup.css">
</head>

<body>

    <div class="container">
        <form action="/profile/updateProfile" method="POST">

            <p>* bio: <input type="text" name="bio"> </p>
            <p>* age :<input type="number" name="age" id="age"> </p>
            <p>* school: <input type="text" name="school" id="school"> </p>
            <button type="submit" class="update" value="update">Submit</button>
        </form>
    </div>
</body>

</html>