* {
  box-sizing: border-box;
}
body {
  position: relative;
  font-family: sans-serif;
  background: linear-gradient(#141e30, #243b55);
  margin: 15px 30px;
  font-size: 17px;
  padding: 8px;
  text-align: start;
}

.container {
  position: relative;
  width: 900px;
  margin-top: 42px;
  margin-left: 20%;
  margin-bottom: 42px;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border: 2px solid darkgray;
  border-radius: 5px;
  height: 590px;
  text-emphasis-color: white;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="date"],
select,
textarea {
  width: 50%;
  padding: 10px;
  border: 1px solid cornflowerblue;
  border-radius: 4px;
  margin: 8px;
}

fieldset {
  background-color: white;
  border: 1px solid cornflowerblue;
}
input[type="submit"] {
  background-color: thistle;
  padding: 12px 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 50%;
}
input[type="submit"]:hover {
  background-color: #4daea1;
}

.link {
  position: relative;
  text-align: center;
}
