body {
  position: relative;
  font-family: sans-serif;
  background: linear-gradient(#141e30, #243b55);
  margin: 15px 30px;
  font-size: 17px;
  padding: 8px;
  text-align: center;
  text-emphasis-color: white;
}

.container {
  position: relative;
  margin-top: 37px;
  margin-left: 36%;
  margin-bottom: 37px;
  width: 500px;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border: 2px solid darkgray;
  border-radius: 5px;
}
.link {
  position: relative;
  text-align: center;
}
.update {
  background-color: #4daea1;
}
